@page
@model Aspnet_Core_Movie.Controllers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MovieList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieList.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieList.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieList.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieList.ImgUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieList.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieList.Rating)<p>/10</p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieList.Plot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieList.Plot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieList.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieList.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieList.VideoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieList.VideoUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieList.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieList.Director)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./MoviesPage">Back to List</a>
</div>
